.notification {
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background: lightgrey;
    font-style: italic;
}

.green {
    color: green;
    border-color: green;
}

.red {
    color: red;
    border-color: red;
}